.question {
    background-color: #C8A2C8;
    color: white;
    font-size: 65px;
    text-align: center;
    border-radius: 5px;
    padding: 100px 40px;
    margin-top: 20px;
    width: 86%;   
}

.choices-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

